body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.movie-item {
  background: #eee;
  padding: 10px 30px;
}

.movie-item img {
  max-width: 100%;
}

.main-header {
  text-align: center;
  padding: 50px;
}

h3 {
  font-size: large;
  font-weight: bold;
}

.btn-primary{
  font-size: small;
}

.btn{
  font-size: small;
  margin: 1px;
}